@import "~bootstrap/scss/bootstrap";
@import "variables.scss";
@import "header.scss"

// body {
//   background: #3EAFC9;
//   margin: 0;
// }
//
// .cat_box{
//   position: relative;
//   top:50px;
// }
//
// .cat{
//   margin:0 auto;
//   width: 400px;
// }
//
//  .cat_head{
//    margin:0 auto;
//    position: relative;
//    overflow: hidden;
//    width: 400px;
//    height: 340px;
//    background: #F6F7F2;
//    border-radius: 50% 50% 35% 35%;
//    border:solid 2px #2e2e2e;
//    z-index: 10;
//  }
//
//  .texture{
//    position: absolute;
//    overflow: hidden;
//    left: 110px;
//    height: 160px;
//    width:180px;
//    background: #8D8D8D;
//    border-radius: 0% 0% 50% 50%;
//  }
//
//  .texture>div:first-child{
//    height: 160px;
//    width: 90px;
//    background: #F0AC6B;
//  }
//
// .ear{
//   width: 374px;
//   height: 120px;
//   position: absolute;
//   top: -6px;
//   left: 50%;
//   margin-left: -187px;
//   border-radius: 0% 0% 0% 0%;
// }
//
// .ear>div:first-child{
//   height: 200px;
//   width: 160px;
//   border: 2px solid #2e2e2e;
//   position: absolute;
//   left: -20px;
//   top: 0px;
//   background: #f3f3f3;
//   border-radius: 4% 80% 0% 50%;
//    -ms-transform:rotate(-15deg);
//    -moz-transform:rotate(-15deg);
//    -webkit-transform:rotate(-15deg);
//    -o-transform:rotate(-15deg);
//   transform: rotate(-15deg);
//   transition: transform 1s,left 1s;
//
// }
//
// .cat:hover.ear>div:first-child{
//   left:-10px; border-radius: 4% 80% 0% 60%;
//   transform: rotate(0deg);
//     -ms-transform:rotate(0deg);
//     -moz-transform:rotate(0deg);
//     -webkit-transform:rotate(0deg);
//     -o-transform:rotate(0deg);
// }
//
// .eye{
//   height: 60px;
//   width:300px;
//   position: absolute;
//   top: 200px;
//   z-index: 20;
//   left:50%;
//   margin-left: -150px;
//   overflow: hidden;
// }
//
// .eyeball{
//   height: 100px; width: 100px;
//   border: 2px solid #2e2e2e;
//   border-radius: 50% 50% 50% 50%;
//   overflow: hidden;
//   position: absolute;
// }
//
// .eyeball>div:first-child{
//   height: 100px;
//   width:30px;
//   background-color: #2e2e2e;
//   margin-left: 35px;
//   transition: all 1s;
// }
//
// .cat:hover.eyeball>div:first-child{
//   width: 40px;
//   margin-left: 30px;
// }
//
// .eyeball_hedding{
//   height: 100px;width:180px; border-top: 2px solid #2e2e2e; border-radius: 50% 50% 50% 50%;
//   background: #F6F7F2; margin-top: 50px; margin-left: -40px; position: absolute;
//   transition: margin-top 1s;
// }
//
// .red {
//    position: absolute; height: 28px; width:70px; background: red; top:34px; left:18px; opacity: 0.0;
//    border-radius: 50% 50% 50% 50%;
//    background-image: -moz-radial-gradient( 50% 50% rgba(253, 214, 240, 0.8) 0%, rgba(253, 224, 244, 0.8) 66%, rgba(253, 234, 247, 0.8) 100%);
//    background-image: -webkit-radial-gradient( 50% 50% rgba(253, 214, 240, 0.8) 0%, rgba(253, 224, 244, 0.8) 66%, rgba(253, 234, 247, 0.8) 100%);
//    background-image: -ms-radial-gradient( 50% 50% rgba(253, 214, 240, 0.8) 0%, rgba(253, 224, 244, 0.8) 66%, rgba(253, 234, 247, 0.8) 100%);
// }
//
// .face_texture{
//   height: 80px;
//   width: 280px;
//   position: absolute;
//   top:190px;
//   z-index:20;
//   left:50%;
//   margin-left: -190px;
// }
//
// .face_texture_texturetexture_left>div:first-child{
//   width:30px; height:10px; border-top: 6px #E53941 solid; border-radius: 30% 80% 20% 50%;
//   transform: rotate(25deg);
//   -ms-transform:rotate(25deg);
//   -webkit-transform:rotate(25deg);
//   -o-transform:rotate(25deg);
// margin-left: 20px;
// }
//
// .face_texture_texturetexture_right>div:first-child{
//   width:30px; height:10px; border-top: 6px #E53941 solid; border-radius: 30% 80% 20% 50%;
//   transform: rotate(25deg);
//   -ms-transform:rotate(25deg);
//   -webkit-transform:rotate(25deg);
//   -o-transform:rotate(25deg);
// margin-left: 20px;
// }
//
// .nose{
//   width: 30px; height: 36px; position: absolute; left:50%; margin-left: -15px; top:260px; z-index: 30;
// }
//
// .nose>div:first-child{
//   width:30px; height: 10px; border-bottom: 8px solid #2e2e2e; border-radius: 0% 0% 50% 50%;
//   margin-top: -10px;
// }
//
// .mouse_box{
//   width:200px; height: 36px; position: absolute;overflow: hidden; left: 50%; margin-left: -100px;
//   top: 260px; z-index: 30;
// }
//
// .mouse{
//   margin-left: 85px; margin-top: 6px;
// }
//
// .mouse>div:first-child{
//   width: 4px; height: 8px; background: #2e2e2e; margin-left: 13px;
// }
//
// .mouse>div:nth-child(2){
//   width: 50px; height: 40px; border-bottom:4px solid #2e2e2e; border-left: 4px solid #2e2e2e;
//   border-radius: 40% 0% 20% 50%; margin-left: 13px; margin-top: -26px; position: absolute;
//   transition: border-radius 1s;
// }
//
// .mouse>div:nth-child(3){
//   width: 50px; height: 40px; border-bottom:4px solid #2e2e2e; border-right: 4px solid #2e2e2e;
//   border-radius: 0% 40% 50% 20%; margin-left: -34px; margin-top: -26px; position: absolute;
//   transition: border-radius 1s;
// }
//
// .cat:hover.mouse>div:nth-child(2){
//   border-radius: 50% 50% 50% 50%;
//   width:40px;
// }
//
// .cat:hover.mouse>div:nth-child(3){
//   width:40px; margin-left: -30px; border-radius: 50% 50% 50% 50%;
// }

 @keyframes move {
   0%{
transform: rotate(0);
   }
100%{
  left:200px;
}
 }

@keyframes flip {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(180deg);
  }

}
