.big-circle {
  position: absolute;
  top: -100px;
  left: 0;
  width: 600px;
  height: 600px;
  border-radius: 300px;
  background: #d9e1e5;
}

.diamond {
  position: absolute;
  top: -20px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  right: 200px;
  background: #ddced0;
}

.rectangle {
  position: absolute;
  width: 400px;
  height: 100px;
  border-radius: 10px;
  top: 200px;
  left: 300px;
  background: #cdf2ff;
}

body {
  background: #3EAFC9;
}


.learn-code {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-banner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;}

h1 {
    position: relative;
    z-index: 10;
  }

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100px;
    color: white;
  }

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    color: white;
  }

  p {
    font-size: 24px;
    color: white;
  }
