
#navbarNavAltMarkup {
  border-color:  #C4EAFF;
  font-size: 16px;
  margin: auto;

}

.header{
  padding: $gutter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:20px;
}

.navigation{
  list-style: none;
}

.sidebar-nav{
  width: 210px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #2A8CB3;
  z-index: 10;
}

/* .nav-item{
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;

} */

.close-btn{
  border-bottom: 1px solid white;
  margin: 20px;
}

#bistu{

}

body {
  font-family: Arial;
  background: white;
}

#top{
  display: inline;
}

#who{
  width: 100%;
}

/* 头部标题 */
.mazen {
  padding: 30px;
  margin: auto;
  background: white;
 width: 60%;
 text-align: center;
}

.mazen-img{
  width: 50%;
  margin: auto;
}

.row{
background-color: white;
margin: auto;

padding: 40px;

}

.header h1 {
  font-size: 50px;
}

/* 导航条 */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* 导航条链接 */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* 链接颜色修改 */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* 创建两列 */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* 右侧栏 */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* 图像部分 */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* 文章卡片效果 */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* 列后面清除浮动 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.foot{
  background: white;
  margin: auto;
  text-align: center;
  padding: 5px;
}

/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
