@import "~bootstrap/scss/bootstrap";

#navbarNavAltMarkup {
  border-color:  #C4EAFF;
  font-size: 16px;
  margin: auto;

}


body {
  font-family: Arial;
  background: white;
}

.logo {
  max-width: 50px;
  padding: 5px;
 }
 .card-columns {
   @include media-breakpoint-only(lg) {
     column-count: 4;
   }
   @include media-breakpoint-only(xl) {
     column-count: 5;
   }
 }

.text{
  text-align: center;
  margin: 50px;
}

#map{
  height: 40%;
  width:60%;
  margin: auto;
}

.container{
margin: auto;
  background-color:#f1f1f1;
  padding: 20px;
width:100%;
}

.card mb-3{
  background:#F5F5F5;
  image width: 600px;
}



@media (min-width: 992px) { 
  .navbar-toggler { 
    display: none; 
  } 
  }

  .container{
  margin: auto;
    background-color:#f1f1f1;
    padding: 20px;
  width:100%;
  }


.carousel-indicators{
  color: #F5F5F5;
}

.foot{
  background: white;
  margin: auto;
  text-align: center;
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}


@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}




.people{
  background-color: #C4EAFF;
  max-height: 125px;
  text-align: center;
  border-color: white;
}

.card-img-top {
padding: 50px;
max-width: 250px;

border: 10px;
border-color: white;

}


.p-link {
      display: inline-block;
      color: black;
      padding: 5px 5px;
      max-width: 200px;



    }

.pic{
  text-align: center;
  max-width: 50px;
  padding: 5px;
}

#column{

  margin: auto;
  text-align: center;
  width:60%;
  box-shadow: 0px 5px 5px #888888;
  margin-top: 120px;

}

.table {
  border-spacing: 15px;
  border-collapse: collapse;
  margin: auto;
  text-align: center;
}


.bili{
 text-align: center;
 margin: auto;
 padding: 20px;
 margin-top:50px;
 border-top: dashed 1px #3EAFC9 ;
 width:60%;


}

.bot{
 margin: 10px;
 text-align: center;
 max-height: 10px;

   display: inline;
}
.bo{
  max-width: 50px;

}



.foot{
  background: white;
  margin: bottom;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}


@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
