@import "~bootstrap/scss/bootstrap";


body {
  background: #3EAFC9;
  margin: 0;
}


.big-circle {
  position: absolute;
  top: -100px;
  left: 0;
  width: 40%;
  height: 30%;
  border-radius: 40% 80% 100% 0;
  background: #2A8CB3;
}

/* .diamond {
  position: absolute;
  top: -100px;
  right: 0;
  width: 72%;
  height: 15%;

  background:#2A8CB3;
} */

.rectangle {
  position: absolute;
  top: 100%;
  right: 0;
  width: 70%;
  height: 30%;
  border-radius: 0 0 0 0;
  background: #2A8CB3;
}

.hero-banner {
  width: 20%;
  height: 30%;
  display: contents;
  justify-content: center;
  align-items: center;
  padding-bottom: 50%;
}

.learn-code {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top:5%;
}

.container{

}



  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 300%;
    color: white;
    z-index: 10;
    position: relative;
    top:30;
    padding:50;
  }

  h2 {
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    font-size: 250%;
    color: white;
    z-index: 30;
  }

  p {
    font-size: 150%;
    color: white;
    z-index: 30;
  }

#Logo{
position: relative;
z-index: 20;
  }


/* .cat_box{
  position: relative;
  padding:10px;


}

.cat{
  margin:0 auto;
  width: 100px;
}

 .cat_head{
   margin:0 auto; position: relative; overflow: hidden;
   width: 100px;
   height: 85px;
   background: #F6F7F2;
   border-radius: 50% 50% 35% 35%;
   border:solid 2px #2e2e2e;
   z-index: 10;
 }

 .texture{
   position: absolute; overflow: hidden; left: 110px;
   height: 40px;
   width:45px;
   background: #8D8D8D;
   border-radius: 0% 0% 50% 50%;
 }

 .texture>div:first-child{
   height: 40px;
   width: 22.5px;
   background: #F0AC6B;
 }

.ear{
  width: 93.5px;
  height: 30px;
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -187px;
  border-radius: 0% 0% 0% 0%;
}

.ear>div:first-child{
  height: 50px;
  width: 40px;
  border: 2px solid #2e2e2e;
  position: absolute;
  left: 120px;
  top: 0px;
  background: #f3f3f3;
  border-radius: 4% 80% 0% 50%;
   -ms-transform:rotate(-15deg);
   -moz-transform:rotate(-15deg);
   -webkit-transform:rotate(-15deg);
   -o-transform:rotate(-15deg);
  transform: rotate(-15deg);
  transition: transform 1s,left 1s;

}


.ear>div:nth-child(2){
  height: 50px;
  width: 40px;
  border: 2px solid #2e2e2e;
  position: absolute;
  left: 214px;
  top: 0px;
  background: #f3f3f3;
  border-radius: 80% 4% 50% 0%;
   -ms-transform:rotate(15deg);
   -moz-transform:rotate(15deg);
   -webkit-transform:rotate(15deg);
   -o-transform:rotate(-5deg);
  transform: rotate(15deg);
  transition: transform 1s,left 1s;

}


.cat:hover.ear>div:first-child{
  left:-10px; border-radius: 4% 80% 0% 60%;
  transform: rotate(0deg);
    -ms-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
}

.eye{
  height: 15px;
  width:75px;
  position: absolute;
  top: 25px;
  z-index: 20;
  left:50%;
  margin-left: -50px;
  overflow: hidden;
}

.eye_right{
  height: 25px; width: 25px;
  border: 2px solid #2e2e2e;
  border-radius: 50% 50% 50% 50%;
  overflow: hidden;
  position: absolute;
}



.eyeball{
  height: 25px; width: 25px;
  border: 2px solid #2e2e2e;
  border-radius: 50% 50% 50% 50%;
  overflow: hidden;
  position: absolute;
}

.eye_right>div:first-child{
  height: 25px;
  width:7.5px;
  background-color: #2e2e2e;
  margin-left: 35px;
  transition: all 1s;
}

.eyeball>div:first-child{
  height: 25px;
  width:7.5px;
  background-color: #2e2e2e;
  margin-left: 35px;
  transition: all 1s;
}


.cat:hover.eyeball>div:first-child{
  width: 40px;
  margin-left: 30px;
}

.eyeball_hedding{
  height: 100px;width:180px; border-top: 2px solid #2e2e2e; border-radius: 50% 50% 50% 50%;
  background: #F6F7F2; margin-top: 50px; margin-left: -40px; position: absolute;
  transition: margin-top 1s;
}

.red {
   position: absolute; height: 28px; width:70px; background: red; top:34px; left:18px; opacity: 0.0;
   border-radius: 50% 50% 50% 50%;
   background-image: -moz-radial-gradient( 50% 50% rgba(253, 214, 240, 0.8) 0%, rgba(253, 224, 244, 0.8) 66%, rgba(253, 234, 247, 0.8) 100%);
   background-image: -webkit-radial-gradient( 50% 50% rgba(253, 214, 240, 0.8) 0%, rgba(253, 224, 244, 0.8) 66%, rgba(253, 234, 247, 0.8) 100%);
   background-image: -ms-radial-gradient( 50% 50% rgba(253, 214, 240, 0.8) 0%, rgba(253, 224, 244, 0.8) 66%, rgba(253, 234, 247, 0.8) 100%);
}

.face_texture{
  height: 80px;
  width: 280px;
  position: absolute;
  top:190px;
  z-index:20;
  left:50%;
  margin-left: -190px;
}

.face_texture_texturetexture_left>div:first-child{
  width:30px; height:10px; border-top: 6px #E53941 solid; border-radius: 30% 80% 20% 50%;
  transform: rotate(25deg);
  -ms-transform:rotate(25deg);
  -webkit-transform:rotate(25deg);
  -o-transform:rotate(25deg);
margin-left: 20px;
}

.face_texture_texturetexture_right>div:first-child{
  width:30px; height:10px; border-top: 6px #E53941 solid; border-radius: 30% 80% 20% 50%;
  transform: rotate(25deg);
  -ms-transform:rotate(25deg);
  -webkit-transform:rotate(25deg);
  -o-transform:rotate(25deg);
margin-left: 20px;
}

.nose{
  width: 30px; height: 36px; position: absolute; left:50%; margin-left: -15px; top:260px; z-index: 30;
}

.nose>div:first-child{
  width:30px; height: 10px; border-bottom: 8px solid #2e2e2e; border-radius: 0% 0% 50% 50%;
  margin-top: -10px;
}

.mouse_box{
  width:200px; height: 36px; position: absolute;overflow: hidden; left: 50%; margin-left: -100px;
  top: 260px; z-index: 30;
}

.mouse{
  margin-left: 85px; margin-top: 6px;
}

.mouse>div:first-child{
  width: 4px; height: 8px; background: #2e2e2e; margin-left: 13px;
}

.mouse>div:nth-child(2){
  width: 50px; height: 40px; border-bottom:4px solid #2e2e2e; border-left: 4px solid #2e2e2e;
  border-radius: 40% 0% 20% 50%; margin-left: 13px; margin-top: -26px; position: absolute;
  transition: border-radius 1s;
}

.mouse>div:nth-child(3){
  width: 50px; height: 40px; border-bottom:4px solid #2e2e2e; border-right: 4px solid #2e2e2e;
  border-radius: 0% 40% 50% 20%; margin-left: -34px; margin-top: -26px; position: absolute;
  transition: border-radius 1s;
}

.cat:hover.mouse>div:nth-child(2){
  border-radius: 50% 50% 50% 50%;
  width:40px;
}

.cat:hover.mouse>div:nth-child(3){
  width:40px; margin-left: -30px; border-radius: 50% 50% 50% 50%;
} */

 @keyframes move {
   0%{
transform: rotate(0);
   }
100%{
  left:200px;
}
 }

@keyframes flip {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(180deg);
  }

}
