#navbarNavAltMarkup {
  border-color:  #C4EAFF;
  font-size: 16px;
  margin: auto;

}

body {
  font-family: Arial;
  background: #f1f1f1;
}

.logo {
  max-width: 50px;
  padding: 5px;
 }
 .card-columns {
   @include media-breakpoint-only(lg) {
     column-count: 4;
   }
   @include media-breakpoint-only(xl) {
     column-count: 5;
   }
 }

.card-columns{
margin: auto;
  background-color:#f1f1f1;
  padding: 20px;
width:100%;
}


.foot{
  background: white;
  margin: auto;
  text-align: center;
  padding: 5px;
}

media (min-width: 992px) { 
  .navbar-toggler { 
    display: none; 
  } 
  }
