@import "~bootstrap/scss/bootstrap";


#navbarNavAltMarkup {
  border-color:  #C4EAFF;
  font-size: 16px;
  margin: auto;

}

#carouseExampleIndicarors{
  border: 20px;
}





body {
  font-family: Arial;
  background: white;
  margin: auto;
}

.logo {
  max-width: 50px;
  padding: 5px;
 }

 .card-columns {
   @include media-breakpoint-only(lg) {
     column-count: 4;
   }
   @include media-breakpoint-only(xl) {
     column-count: 5;
   }
 }

#list{
  padding: 16px;
}

@media (min-width: 992px) { 
  .navbar-toggler { 
    display: none; 
  } 
  }

  .container{
  margin: auto;
    background-color:#f1f1f1;
    padding: 20px;
  width:100%;
  }


.carousel-indicators{
  color: #F5F5F5;
}

.foot{
  background: white;
  padding:   10px;
  text-align: center;
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}


@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
